@import '../../../assets/style/variable.scss';

.company-information {
  & .company-information-category {
    div::before {
      background-color: #E30613
    }
    @media (max-width: 767px) {
      margin-bottom: 40px;
    }
  }
}
 .company-details-wrapper {
  & .title {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #363B40;
    margin: 56px 0px 40px 0px;
  }
  & .label-add-more {
    color: #005EFD;
    display: flex;
    align-items: center;
    width: fit-content;
    cursor: pointer;

    svg {
      margin-right: 10px;
    }
  }

  & .container-wrapper {
    column-gap: 0px !important;
    row-gap: 0px !important;
    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 30px;

    & .title {
      font-weight: 600;
      font-size: 16px;
      line-height: 30px;
      color: #575D65;
      display: flex;
      align-items: center;
      position: relative;
      margin: 0px;

      label {
        position: absolute;
        top: 0px;
        right: 24px;
        cursor: pointer;
        margin-left: 16px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #005EFD;
      }
    }

    & .MuiFormGroup-root {
      flex-direction: row !important;
    }
  }
}

.group-item {
  display: flex;
  flex-direction: column;

  .content {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: $tundora;
  }
}

.button-wrapper {
  a {
    text-decoration: none;
    color: $dodgerBlue;
  }
}

.formatted-numberphone-input {
  
}