$fontPrimary: "OpenSans";
$fontSecondary: "Arial";
// FONT SIZE
$fzH1: 32px;
$fzH2: 24px;
$fzH3: 22px;
$fzH3Reg: 18px;
$fzH4: 20px;
$fzH5: 18px;
$fzH6: 16px;
$fzBody: 14px;
$fzDes: 12px;
$fzLabel: 13px;
$fzButton: 18px;

// COLOR
$tundora: #484848;
$regentGray: #7c909b;
$dodgerBlue: #2979ff;
$aquaSpring: #f2f9fb;
$gothic: #6b8592;
$white: #ffffff;
$lightSlateGrey: #7c909b;
$fiord: #4a5c65;
$nevada: #5a707b;
$shuttleGray: #566b76;
$lochinvar: #319988;
$java: #21d2a3;
$easternBlue: #15adaf;
$doveGray: #666666;
$mineShaft: #333333;
$alto: #d7d7d7;
$wildSand: #f4f4f4;
$geyser: #dce2e5;
$red: #e00000;
$limedSpruce: #39474e;
$riverBed: #495a63;
$aquaHaze: #fafcfc;
$slateGray: #667c88;
$sandyBrown: #f4af62;
$submarine: #b2bec4;
$indigo: #4e78c0;
$lochinvar: #319987;
$solitude: #f2f5f6;
$porcelain: #FBFCFC;
$porcelain2: #EEF1F2;
$gray: #808080;
$blackCoralPearl: #5a707b;
$lipstick: #cb2d3e;
$caribbeanGreen: #21d2a3;
$tealBlue: #15adaf;
$black: #8596A026;
$porcelainBorder: #ebeff1;
$zumthor: #d1d8db;
$grey: #808080;
$forgetMeNot: #fef3e8;
$alto: #dadada;
$salmonPearl: #ef473a;
$deepSpaceSparkle:#4b5c65;
$slateGray: #798d98;
$grayBold: #888;
$aquamarine: #79e0d6;
$altoWhite: #d9d9d9;
$form: #f7f8f9;
