@import "../../../assets/style/variable.scss";

.w70p {
  width: 70%;
}

.review-and-submit-wrapper {
  & .content {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #575d65;
  }

  & .MuiGrid-container {
    row-gap: 30px !important;
  }

  & .sub-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #777e87;
  }

  & .section-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #363b40;
  }

  & .option-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #363b40;
  }

  #divider {
    height: 1px;
    width: 100%;
    background: #e2e7ec;
    margin-top: unset;
    margin-bottom: 32px;
  }

  & .text-item-input {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #777e87;
    margin-bottom: 4px;
  }

  & .text-item-value {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #575d65;
  }

  & .section-wrapper {
    margin-bottom: unset;
    & .MuiGrid-container {
      row-gap: unset;
    }

    & ul {
      margin-left: 25px;
    }

    & .transaction-and-card-acceptance-type-container {
      gap: 40px;
    }

    & .company-registration-container {
      margin-bottom: 54px;
      gap: 30px;
    }
    & .sub-title-contact-detail {
      margin-bottom: 32px;
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      color: #363b40;
    }

    & .contact-details-container {
      gap: 30px;
    }

    & .point-of-sales-container {
      margin-bottom: 40px;
      gap: 30px;
    }

    & .section-title {
      margin-bottom: 40px;
    }

    & .section-seperate {
      display: none;
    }
  }

  & .product-and-services-wrapper {
    & .ecommerce-container {
      gap: 30px;
    }
  }

  & .other-requirements-section {
    & .section-title {
      margin: 0px !important;
    }
    gap: 40px !important;
  }

  & .agree-policy-wrapper {
    & .description {
      margin-bottom: 16px;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #777e87;
    }
  }
}
