@import '../../../assets/style/variable.scss';

.supplementary-documents {
  & .supplementary-documents-category {
    margin-bottom: 56px;

    div::before {
      background-color: #E30613
    }
    @media (max-width: 767px) {
      margin-bottom: 40px;
    }
  }

  & .MuiGrid-container {
    row-gap: 0px !important;
    column-gap: 0px !important;
    margin-top: 20px;
  }

  & .upload-result { 
    width: 100%;
  }
}