@import '../../../assets/style/variable.scss';

.review-submit {
  & .title {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #777E87;
  }

  & .content {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #575D65;
  }

  & .sub-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #363B40;
    margin-bottom: 40px;
  }

  & .MuiTable-root {
    margin-bottom: 40px;
    & .MuiTableHead-root {
      & .MuiTableRow-root {
        th {
          font-weight: 700 !important;
          font-size: 16px !important;
          line-height: 24px !important;
          color: #484848 !important;
        }
      }
    }
    & .MuiTableBody-root {
      & .MuiTableRow-root {
        th {
          font-weight: 700 !important;
          font-size: 16px !important;
          line-height: 24px !important;
          color: #484848 !important;
        }
        td {
          padding: 10px !important;
        }
      }
    }
  }

  & .review-submit-category {
    margin-bottom: 56px;

    div::before {
      background-color: #E30613
    }
    @media (max-width: 767px) {
      margin-bottom: 40px;
    }
  }

  & .MuiGrid-container {
    row-gap: 0px !important;
    column-gap: 0px !important;
  }

  & .transaction-card-acceptance-type {
    & .group-item {
      margin-bottom: 20px;
    }

    & .group-item:last-child {
      margin-bottom: 0px;
    }

    & .group-item-repayment {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 0px;
      width: 50%;
      margin-bottom: 20px;
      padding: 10px;
    }

    & .group-item-payment-options {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 0px;
      width: 80%;
    }

   
  }

  & .group-item-fees {
    margin-bottom: 30px;
  }

  & .company-registration {
    & .sub-title {
      margin-top: 10px;
      margin-bottom: 0px;
    }
  }

  & .company-registration {
    & .sub-title {
      margin-top: 40px;
      margin-bottom: 0px;
    }
  }

  & .products-and-services {
    & .sub-title {
      margin-top: 10px;
      margin-bottom: 0px;
    }
  }

  & .beneficial-ownership {
    &__group-item:last-child {
      margin-top: 40px;
      & .sub-title {
        margin-top: 20px;
      }
      & .sub-title:first-child {
        margin-top: 0px;
      }
    }
  }
}

.declaration {
  & .declaration-category {
    margin-bottom: 56px;

    div::before {
      background-color: #E30613
    }
    @media (max-width: 767px) {
      margin-bottom: 40px;
    }
  }

  & .MuiFormControl-root {
    margin-bottom: 20px;
  }

  & .ensure-that-you-read {
    & .MuiFormControlLabel-root {
      margin-bottom: 16px;
    }
  }

  & .sign-on-device {
    & .clear-signature {
      text-align: right;
      margin-bottom: 20px;
      cursor: pointer;
      color: #005EFD;
    }
    & .sigCanvas {
      border: 1px dashed #97A1AE;
      border-radius: 5px;
    }

  }

  & .checkbox-wrapper {
    & .group-checkbox {  
      & .MuiFormLabel-root {
        font-weight: 400;
          font-size: 18px;
          line-height: 28px;
          color: #777E87;
      }
      
      & .MuiFormGroup-root {
        margin: 18px 0px 18px 0px;
        justify-content: space-between;
        
        & .MuiFormControlLabel-root {
          margin-right: 40px;
        }

        & .MuiCheckbox-colorPrimary.Mui-checked {
          color: #3D525D;
        }
  
        & .MuiFormControlLabel-label {
          font-weight: 600;
          font-size: 16px;
          color: $tundora;
          line-height: 24px;
        }
      }
    }
  }

}