@import "../../../assets/style/variable.scss";

.products-and-services-wrapper {
  & .MuiSelect-filled {
    padding: 30px 10px 10px !important;
  }

  & .products-and-services-form-wrapper {
    & .pos-section-wrapper {
      & .MuiGrid-container {
        row-gap: 56px;
      }

      & .section-title {
        margin-bottom: 40px;
      }

      & .sub-section-title {
        margin-bottom: 40px;
      }

      & .section-seperate {
        display: none;
      }
    }

    & .ecommerce-section-wrapper {
      & .section-title {
        margin-bottom: 40px;
      }

      & .sub-section-title {
        margin-bottom: 32px;
      }
    }
  }

  & .sales-forecast-wrapper {
    & .section-description {
      margin-bottom: 24px;
    }

    & .text-field-group {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }

  & .fulfilment-information-wrapper {
    & .tooltip-dialog-wrapper {
      display: inline-flex;
      & #common-dialog {
        background: rgba(177, 184, 197, 0.7);
        & > div > div {
          padding: 64px 24px 56px;
        }
      }

      & .icon-tooltip {
        margin-left: 10px;
        cursor: pointer;
      }

      & .section-title {
        margin-bottom: 16px;
      }

      & .last-description {
        margin: 0;
      }
    }

    & .MuiInputLabel-root {
      margin-left: -4px;
    }

    & .your-product-come-from-checkbox {
      & .MuiTypography-root {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #575d65;
      }
      & .MuiGrid-container {
        gap: unset;
      }
    }

    & .MuiFormControlLabel-label {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #575d65;
    }
  }

  & .sub-section-title {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #363b40;
  }

  & .sub-section-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #777e87;
  }

  & .section-description {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #777e87;
  }

  & .input-field-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #777e87;
    margin-bottom: 16px;
  }

  & .business-offering-wrapper {
    #counter {
      padding-right: 8px;
    }

    textarea {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #575d65;
    }

    & .MuiTextField-root {
      overflow: hidden;
      label {
        width: 100%;
      }
    }

    & .business-offering-description {
      font-weight: 400;
      font-size: 18px !important;
      line-height: 28px !important;
      color: #777e87;
    }
  }
}
