@import '../../assets/style/variable.scss';

.mod-non-repricing-requests {
  overflow: hidden;

  h3 {
    display: block;
  }

  h3.bold {
    margin-bottom: 30px;
    line-height: 1.44;
  }

  h3.reg {
    margin-bottom: 40px;
  }

  .label-checkbox {
    font-size: $fzBody;
    font-weight: normal;
    line-height: 1.71;
    color: $tundora;
    margin-bottom: 8px;
  }

  .list-checkbox {
    display: flex;
    flex-wrap: wrap;

    .checkbox {
      min-width: 190px;
      margin-right: 50px;

      .MuiTouchRipple-root {
        &::before {
          content: '';
          left: 45.8%;
        }
      }

      label {
        margin-bottom: 0;
      }

      .MuiButtonBase-root {
        margin-top: 3px;

        @media (max-width: 768px) {
          margin-top: 1px;
        }
      }

      @media (max-width: 557px) {
        margin-right: 0;
      }

      @media (max-width: 480px) {
        min-width: 150px;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  h3.title-debiting {
    margin-bottom: 10px;
  }

  h3.title-sub {
    margin-bottom: 30px;
  }

  .wrap-info-row-mode {
    @media (max-width: 891px) {
      flex-wrap: wrap;
    }

    .wrap-info-row-mode-overseas {
      margin-top: 60px;
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
        @media (max-width: 891px) {
          margin-bottom: 0;

          .input.select-long-overseas {
            span {
              position: absolute;
            }
          }
        }
      }
    }

    .item {
      margin-top: 30px;
      margin-bottom: 30px;

      &.item-custom {
        margin-top: 60px;

        @media (max-width: 891px) {
          margin-top: 60px;
        }
      }

      @media (max-width: 768px) {}

      .info {
        font-size: $fzBody;
        font-weight: normal;
        line-height: 1.71;
        color: $tundora;
      }

      p {
        &:last-child {
          font-size: $fzH5;
          font-weight: 600;
          line-height: 1.33;
          color: $tundora;
          margin-top: 5px;
        }
      }
    }

    .select-number,
    .input-number {
      max-width: 220px;
      width: 100%;

      @media (max-width: 557px) {
        max-width: 100%;
      }
    }

    &.wrap-input {
      display: flex;
      margin-top: 30px;

      @media (max-width: 991px) {
        justify-content: space-between;
      }

      @media (max-width: 667px) {
        flex-direction: column;
      }
    }

    &.wrap-input-mix {
      flex-wrap: wrap;

      .input.select-long {
        max-width: 430px;
        margin-top: 30px;

        @media (max-width: 557px) {
          max-width: 100%;
        }
      }
    }

    .input {
      max-width: 265px;

      .change-prefix {
        .MuiTypography-root {
          color: $tundora;
        }
      }

      &.select-long {
        max-width: 450px;
        width: 100%;

        @media (max-width: 557px) {
          max-width: 100%;
        }
      }

      &.select-long-overseas {
        @media (max-width: 1199px) {
          padding-left: 15px;
        }

        @media (max-width: 920px) {
          padding-left: 0px;
        }

        @media (max-width: 891px) {
          margin-top: 59px !important;
        }

        span {
          position: absolute;
          display: inline-block;
          margin-top: 5px;

          @media (max-width: 891px) {
            position: relative;
          }
        }
      }

      @media (max-width: 557px) {
        max-width: 100%;
      }

      &:first-child {
        margin-right: 32.9%;

        @media (max-width: 991px) {
          margin-right: 0;
        }
      }

      @media (max-width: 667px) {
        &:last-child {
          margin-top: 60px;
        }
      }

      @media (max-width: 557px) {
        &:last-child {
          margin-top: 30px;
        }
      }
    }
  }

  .input.item-input-amount {
    max-width: 220px;
    width: 100%;

    @media (max-width: 557px) {
      max-width: 100%;
    }

    &.item-input-amount-mix {
      @media (max-width: 557px) {
        margin-top: 30px;
      }
    }

    .MuiTypography-body1 {
      line-height: 1.67;
      font-size: $fzH3Reg;
    }

    .MuiInputBase-input {
      color: $tundora;
      line-height: 1.67;
      font-size: $fzH3Reg;
      font-weight: normal;
    }

    .helperText-custom {
      .MuiFormHelperText-root {
        color: $submarine;
        font-size: $fzBody;
        line-height: 1.71;
        font-weight: normal;
        margin-top: 5px;
      }
    }
  }

  .wrap-input-cash-prepayment {
    width: 100%;
    display: flex;
    position: relative;
    max-height: 68px;

    .input.select-currency {
      max-width: 250px;
      margin-right: 0;

      legend {
        white-space: nowrap;
      }

      span {
        display: none;
      }

      @media (max-width: 557px) {
        max-width: 50%;
        width: 100%;
      }
    }

    .input.item-input-amount {
      max-width: 160px;
      margin-right: 26.9%;
      margin-left: 20px;
      display: flex;
      align-items: flex-end;

      @media (max-width: 660px) {
        margin-top: 0;
      }

      @media (max-width: 557px) {
        margin-right: 0;
        max-width: 50%;
        width: 100%;
      }

      .MuiFormControl-root {
        position: inherit;
      }

      &.input-overseas {
        .MuiFormHelperText-root {
          left: 0;
          position: absolute;
          bottom: -29px;
          @media screen and (max-width: 1560px) {
            bottom: -53px;
          }
        }
      }

      .MuiFormHelperText-root {
        left: 0;
        position: absolute;
        bottom: -29px;
      }
    }
  }

  .row-info-custom {
    @media (max-width: 768px) {
      >div {
        display: block;
      }

      p {
        text-align: left;
      }
    }
  }

  .wrap-input-file {
    margin-top: 10px;
  }

}

.mod-redemption {
  overflow: hidden;

  .select {
    margin-top: 30px;
  }

  .input-provide-full-name {
    .MuiFormHelperText-root {
      margin-top: 5px;
      font-size: $fzBody;
      font-weight: normal;
      line-height: 1.71;
      color: $submarine;
    }
  }

  .radio {
    margin-top: 30px;

    label {
      display: flex;
      align-items: flex-start;
      width: 100%;
      margin-top: 10px;

      &:first-child {
        margin-top: 10px;
      }
    }

    legend {
      margin-bottom: 10px;
    }

    .MuiButtonBase-root {
      margin-top: 4px;
    }
  }
}