@import '../../../assets/style/variable.scss';

.fee-authorisation {
  & .fee-authorisation-category {
    margin-bottom: 56px;

    div::before {
      background-color: #E30613
    }
    @media (max-width: 767px) {
      margin-bottom: 40px;
    }
  }

  & .MuiGrid-container {
    column-gap: 0px !important;
    row-gap: 0px !important;
  }

  & .MuiSelect-selectMenu {
    height: 0px;
  }

  & .application-confirmation-container {
    & .title {
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      color: #777E87;
      margin-bottom: 16px;
    }

    span {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #575D65;
    }
  }

  & .group-radio-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #777E87;
    margin-top: 30px;
  }
  
  & .group-radio {
    & .MuiFormControlLabel-root {
      box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.12);
      border-radius: 8px;
      padding: 10px;
      min-width: 323px;
      height: fit-content;
      margin-top: 12px;
      margin-left: 0px;

      & .label {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #575D65;
      }

      & .sub-title {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #777E87;
        margin-top: 8px;
        margin-bottom: 8px;
      }

      
    }
  }
  & .indicate-the-bank-name-form {
    margin-top: 40px;
  }
}

.button-wrapper {
  a {
    text-decoration: none;
    color: $dodgerBlue;
  }
}