@import '../../assets/style/variable.scss';

.mod-popup {
  overflow: hidden;

  .title {
    display: flex;
    align-items: center;

    img {
      margin-right: 15px;
    }
  }

  .content-popup {
    margin-top: 20px;

    p {
      font-size: $fzH6;
      font-weight: normal;
      line-height: 1.75;
      color: $tundora;

      @media (max-width: 767px) {
        font-size: $fzBody;
      }
    }

    ul {
      li {

        list-style: none;
        position: relative;
        padding-left: 25px;

        font-size: $fzH6;
        font-weight: normal;
        line-height: 1.75;
        color: $tundora;

        div {
          font-size: $fzH6;
        }

        @media (max-width: 767px) {
          font-size: $fzBody;
        }

        i {
          position: absolute;
          left: 0;
          font-style: normal;
        }
      }
    }

    .infoPrint {
      li {
        i {
          width: 6px;
          height: 6px;
          border-radius: 100%;
          display: inline-block;
          background-color: $tundora;
          top: 12px;
        }
      }
    }

    .text-print {
      margin-top: 30px;
    }

    .img-print {
      margin-top: 20px;
      display: block;
      width: 100%;
      border: 1px solid $alto;
    }
  }
}


.icon-dialog {
  width: 55px;
  height: 55px;
  margin: 0 15px 0 0;
}

.text-title {
  font-size: $fzH2;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
}

.text-body {
  font-size: $fzH6;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
}


.borrower-otp {
  overflow: hidden;

  .btn-ok {
    width: 107px;
    height: 60px;
    font-family: $fontPrimary;
    position: relative;
    border-radius: 6px;
    border: 0;
    cursor: pointer;
    &::before {
      font-family: $fontPrimary;
    }

    &.disable {
      pointer-events: none;

      &:hover {
        &::before {
          content: '';
          background-image: linear-gradient(to left, $grayBold, $grayBold);
        }
      }

      &::before {
        content: '';
        background-image: linear-gradient(to left, $grayBold, $grayBold);
      }
    }

    &:hover {
      &::before {
        background-image: linear-gradient(to right, $riverBed, $riverBed 100%);
      }
    }

    &::before {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: "";
      opacity: 1;
      z-index: 1;
      position: absolute;
      transition: 0.5s all;
      visibility: visible;
      border-radius: 6px;
      background-image: linear-gradient(to right, $riverBed, $slateGray 100%);
    }

    span {
      font-size: $fzH5;
      font-weight: bold;
      font-stretch: normal;
      line-height: 1.22;
      text-align: center;
      color: $white;
      position: relative;
      z-index: 2;

    }
  }
  
  .content {
    .contentWrap {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      @media (max-width: 539px) {
        display: block;
      }

      button {
        @media (max-width: 539px) {
          margin-top: 24px;
        }
      }
    }

    .buttonModal {
      display: inline-block;
      div {
        font-size: $fzH6;
        font-weight: normal;
        line-height: 1.5;
        color: $dodgerBlue;
        margin-top: 10px;
        cursor: pointer;

        &:first-child {
          margin-top: 28px;
        }
      }
    }

    .header-modal {
      font-size: $fzH2;
      font-weight: bold;
      font-style: normal;
      line-height: 1.42;
      color: $tundora;
      display: flex;
      align-items: center;

      img {
        margin-right: 20px;
      }
    }

    legend {
      font-size: $fzH6;
      font-weight: normal;
      line-height: 1.75;
      color: $tundora;
      margin: 18px 0 0 0;
    }

    .instruction {
      display: flex;

      @media (max-width: 660px) {
        display: block;
      }

      .col-left,
      .col-right {
        flex: 0 0 50%;
        max-width: 100%;

      }

      .col-right {
        margin-top: 32px;
        display: flex;
        justify-content: center;

        img {
          width: 290px;
          height: 350px;
          object-fit: contain;
          margin-left: auto;
          margin-right: auto;
        }
      }

      .col-left {
        ul {
          padding: 0;
          margin: 0;
        }

        li {
          list-style: none;
          display: flex;
          position: relative;
          padding-left: 58px;
          margin-top: 10px;
          cursor: pointer;

          &:first-child {
            margin-top: 42px;

            p {
              padding: 11px 21px 15px 15px;
            }
          }

          &:last-child {
            p {
              &::after {
                content: '';
                display: none;
              }
            }
          }

          &:hover {
            span {
              background-color: $aquamarine;
              color: $white;
            }

            p {
              background-color: $porcelainBorder;
            }
          }

          &.active {
            span {
              background-color: $aquamarine;
              color: $white;
            }

            p {
              background-color: $porcelainBorder;
            }
          }

          p {
            font-size: $fzH6;
            font-weight: normal;
            line-height: 1.75;
            color: $tundora;
            margin: 0;
            border-radius: 8px;
            box-shadow: 0 2px 15px 8px rgba(0, 0, 0, 0.02);
            background-color: $white;
            padding: 11px 15px 15px 15px;
            transition: all .4s;
            position: relative;

            &::after {
              content: '';
              width: 1px;
              position: absolute;
              height: calc(100% + 12px);
              display: block;
              background-color: $aquamarine;
              left: -43px;
              top: 0;
            }
          }

          span {
            width: 32px;
            height: 32px;
            border-radius: 100%;
            font-size: $fzH2;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.42;
            letter-spacing: normal;
            text-align: center;
            color: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: 0;
            transition: all .4s;
            top: 0;
            color: $aquamarine;
            z-index: 1;
            background-color: $white;
            border: solid 1px $aquamarine;
          }
        }
      }

    }
  }
}