@import "../../../assets/style/variable.scss";

.MuiFormHelperText-root {
  color: rgba(0, 0, 0, 0.54);
  margin-left: 0px !important;
  padding-top: 8px !important;
  background-color: #ffffff;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin-top: 0 !important;
}

.business-services {
  & .business-services-category {
    margin-bottom: 56px;

    div::before {
      background-color: #e30613;
    }
    @media (max-width: 767px) {
      margin-bottom: 40px;
    }
  }
  & .refund-policy {
    & .radio-group-refund {
      flex-direction: row;
      margin-bottom: 40px;
      gap: 40px;
    }
    & .radio-group-upload-policy {
      margin-bottom: 20px;
    }
  }
  & .business-information {
    & .title {
      font-weight: 400;
      margin-bottom: 22px;
      font-size: 18px;
      line-height: 28px;
      color: #777e87;
    }

    & .MuiTextField-root {
      // margin-bottom: 42px;
      width: 100%;
    }

    & .MuiFormGroup-root {
      margin-bottom: 30px;
    }

    & .MuiGrid-container {
      row-gap: 0px !important;
      // column-gap: 0px !important;
    }

    & .fulfillment-group {
      & .MuiGrid-container {
        column-gap: 0px !important;
      }
    }

    & .title-fulfilment-information {
      display: flex;

      img {
        margin-left: 8px;
      }
    }
  }
}

.sales-forecast-wrapper {
  & .text-field-group {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.button-wrapper {
  a {
    text-decoration: none;
    color: $dodgerBlue;
  }
}
.business-offering-wrapper {
  #counter {
    padding-right: 8px;
  }

  textarea {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #575d65;
  }

  & .MuiInputBase-root {
    height: unset;
  }

  & .MuiTextField-root {
    overflow: hidden;
    label {
      width: 100%;
    }
  }

  & .business-offering-description {
    font-weight: 400;
    font-size: 18px !important;
    line-height: 28px !important;
    color: #777e87;
  }
}
