@import '../../assets/style/variable.scss';
.confirmation-page {
  min-height: calc(100vh - 436px);
  .description {
    p {
      font-size: $fzH5;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.67;
      letter-spacing: normal;
    }
  }
}