@import '../../assets/style/variable.scss';

.launch-confirmtion-page {
  height: calc(100vh - 230px);

  .launch-confirmtion-content {
    background: #FFFFFF;
    box-shadow: 0px 2px 15px 8px rgba(0, 0, 0, 0.02);
    border-radius: 8px;
    padding: 40px 30px;
    min-width: 700px;
    margin-top: 100px;

    .description {
      margin-top: 20px !important;

      p {
        font-size: $fzH5;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.67;
        letter-spacing: normal;
      }
    }
    .button-wrapper {
      .group-submit {
        display: flex;
        align-items: center;
        a {
          text-decoration: none;
          margin-left: 30px;
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 26px;
          color: $dodgerBlue
        }
      }
    }

  } 
}