@import '../../../assets/style/variable.scss';

.servicer-applied-wrapper {
  & .title-checkbox {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #777E87;
  }

  & .category-wrapper {
    div::before {
      background-color: #E30613
    }
    @media (max-width: 767px) {
      margin-bottom: 40px;
    }
  }

  & .checkbox-wrapper {
    & .MuiCheckbox-root {
      color: #3D525D !important;
    }
    & .group-checkbox {
      margin-top: 40px;
  
      & .MuiFormLabel-root {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: $tundora;
      }

      .w-59 {
        width: 59%;
      }
      .w-116 {
        width: 116%;
      }
      
      & .MuiFormGroup-root {
        margin: 18px 0px 7px 0px;
        justify-content: space-between;
        
        & .MuiFormControlLabel-root {
          margin-right: 70px;
        }
  
        & .MuiFormControlLabel-label {
          font-weight: 600;
          font-size: 16px;
          color: $tundora;
          line-height: 24px;
        }
      }
      & .see-more {
        display: flex;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #005EFD;
        align-items: center;
        cursor: pointer;
        width: fit-content;

        svg {
          margin-left: 10px;
        }
      }

      & .MuiFormHelperText-root {
        display: flex;

        img {
          margin-right: 5px;
        }
      }
    }
  }
} 

.label {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $tundora;
}

.list-checkbox {
  .MuiGrid-container {
    flex-direction: column !important
  }
}

.list-checkbox-repayment {
  .see-more {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: $dodgerBlue;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    svg {
      margin-left: 10px;
    }
  }
}