@import '../../../assets/style/variable.scss';

.servicer-applied-wrapper {
  & .title-checkbox {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #777E87;
  }

  & .category-wrapper {
    div::before {
      background-color: #E30613
    }
    @media (max-width: 767px) {
      margin-bottom: 40px;
    }
  }

  & .checkbox-wrapper {
    width: 66%;
    & .MuiBox-root {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
    & .title-group-checkbox {
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      color: #777E87;
      padding: 40px 0px 16px 0px;
    }
    & .MuiFormControlLabel-root {
      margin-right: 100px;
      width: fit-content;

      & .MuiFormControlLabel-label {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #575D65;
        padding-left: 10px;
      }
    }
    & .see-more {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #005EFD;
      display: flex;
      cursor: pointer;
      margin: 16px 0px 10px 0px;

    }
    & .MuiFormHelperText-root {
      display: flex;
      color: #ED5347;
      
      img {
        margin: 0px 5px 3px 0px;
      }
    }
  }
} 

.label {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $tundora;
}

.list-checkbox {
  .MuiGrid-container {
    flex-direction: column !important
  }
}
