.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1440px;

  .container-footer {
    left: 0;
    color: #94a4ad;
    right: 0;
    bottom: 0;
    display: flex;
    padding: 156px 0 84px;
    z-index: 100;
    position: relative;
    font-size: 14px;
    justify-content: space-between;
    background-color: #ffffff;

    & .footer-component-left {
      width: 50%;

      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
          display: inline-block;
          margin-right: 40px;

          a {
            color: #567180;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            text-decoration: none;
          }
        }
      }
    }

    & .footer-component-right {
      width: 50%;
      text-align: right;
      span {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #567180;
      }
    }
  
  }
}