@import '../../assets/style/variable.scss';

.title-welcome {
  margin: 40px 120px 0px 120px;
  display: flex;
  align-items: center;

  .title {
    margin-left: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
  }
  .icon-welcome {
    width: 80px;
    height: 80px;
  }
}

.welcome-page {
  margin-top: 80px;
  overflow: hidden;
  padding: 30px;
  margin: 30px 120px 0px 120px;

  .input-search {
    margin-bottom: 30px;
    position: relative;
    width: 280px;

    .icon-search {
      position: absolute;
      top: 12px;
      left: 20px;
      z-index: 1;
    }

    .MuiInput-underline:before {
      border-bottom: none !important;
    }

    .MuiInput-underline:after {
      border-bottom: none !important;
    }

    input {
      padding-left: 45px;
      background-color: $white;
      z-index: 0;
    }

    input[type="text"] {
      color: $tundora;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
    }
  }

  .makeStyles-expandButtonWrapper-18 {
    display: none;
  }
}

.action-launch {
  color: $dodgerBlue;
  cursor: pointer;
}