@import "../../../assets/style/variable.scss";

.checkbox {
  margin-top: -10px;
}

.error {
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #cb2d3e;
  margin-top: 10px;
}