@import '../../../assets/style/variable.scss';

.contact-information {
  & .contact-information-category {
    div::before {
      background-color: #E30613
    }
    @media (max-width: 767px) {
      margin-bottom: 40px;
    }
  }
  
  & .contact-details-acra-details {
    & .MuiGrid-container {
      row-gap: 0px !important;
      column-gap: 0px !important;
    }
  }
}


.group-item {
  display: flex;
  flex-direction: column;

  .content {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: $tundora;
  }
}

.button-wrapper {
  a {
    text-decoration: none;
    color: $dodgerBlue;
  }
}