@import '../../assets/style/variable.scss';

.form-submit {
  background-color: #9dc0d3;
  margin-top: 80px;
  padding: 10px;
  border-radius: 10px;
}

.landing-page {
  margin-top: 80px;
  overflow: hidden;

  &.landing-page-borrower {
    min-height: calc(100vh - 118px - 288px - 80px);
  }

  .title {
    h3 {
      margin-top: 10px;
    }

    .sub-title-landing {
      max-width: 940px;
    }
  }

  .padding-common {
    padding-left: 10px;
    padding-right: 10px;

    @media (max-width: 768px) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .mb-40 {
    @media (max-width: 768px) {
      margin-bottom: 30px;
    }
  }

  .content {
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 1024px) {
      display: block;
    }

    .col-left {
      width: 200px;

      @media (max-width: 1024px) {
        width: 100%;
      }
    }

    .col-right {
      width: calc(100% - 200px);
      padding-left: 30px;

      @media (max-width: 1024px) {
        width: 100%;
        padding-left: 0px;
      }

      .title-checkbox {
        @media (max-width: 1024px) {
          padding-left: 0;
          margin-top: 40px;
        }

        @media (max-width: 767px) {
          font-size: $fzH6;
        }
      }

      .MuiFormGroup-root {
        flex-direction: column;
        flex-wrap: nowrap;
        & label {
          min-height: unset;
        }
        & .card-checkbox-content {
          &--title {
            font-size: 18px;
          }
          &--description {
            font-size: 15px;
          }
        }
      }
    }

    .item-card {

      @media (max-width: 1070px) {
        max-width: 50%;
        flex-basis: 50%;
      }

      @media (max-width: 1024px) {
        &:nth-child(odd) {
          padding-left: 0;
          padding-right: 10px;
        }

        &:nth-child(even) {
          padding-left: 10px;
          padding-right: 0;
        }
      }

      @media (max-width: 667px) {
        max-width: 100%;
        flex-basis: 100%;

        &:nth-child(odd) {
          padding-left: 0;
          padding-right: 0;
        }

        &:nth-child(even) {
          padding-left: 0;
          padding-right: 0;
        }
      }

    }
  }

  .content-2nd {
    display: flex;
    justify-content: space-between;

    &.mt-borrower {
      margin-top: 60px;
    }

    @media (max-width: 1024px) {
      display: block;
    }

    .col-left {
      display: flex;
      align-items: center;

      &.col-left-borrower {
        align-items: flex-start;
      }
    }

    .col-right {
      width: calc(100% - 240px);
      background-color: $aquaHaze;
      padding: 60px 120px;

      @media (max-width: 1119px) {
        padding: 60px;
      }

      .wrap-document {
        display: block;
        width: 100%;

        h3 {
          margin-bottom: 39px;
        }
      }

      @media (max-width: 1024px) {
        width: 100%;
        margin-top: 40px;
      }

      @media (max-width: 835px) {
        padding: 40px;
      }

      @media (max-width: 375px) {
        padding: 20px;
      }

      .content-right {
        display: flex;
        flex-wrap: wrap;

        .btn-bg-grey {
          width: 220px;
        }

        @media (max-width: 667px) {
          display: block;
          text-align: left;
        }

        button {
          position: relative;

          @media (max-width: 667px) {
            &::after {
              content: '';
              width: 55px;
              height: 1px;
              display: block;
              background-color: $slateGray;
              position: absolute;
              bottom: -20px;
              left: 0;
              right: 0;
            }
          }
        }
      }
    }

    .dont-have-singpass {
      border-left: 1px solid $slateGray;
      padding-left: 60px;
      margin-left: 60px;
      height: 60px;

      @media (max-width: 667px) {
        padding-left: 0;
        margin-left: 0;
        margin-top: 20px;
        padding-top: 20px;
        border-left: 0;
        position: relative;
      }

      h3 {
        margin-bottom: 8px;
      }
    }

    .wrap-title-document-multiple {
      .title-document {
        display: block;
        font-size: $fzH3Reg;
        font-weight: bold;
        line-height: 1.33;
        color: $tundora;
        margin-top: 20px;
        @media screen and (max-width: 768px) {
          font-size: $fzH6;
          line-height: 28px;
        }

        @media (max-width: 767px) {
          font-size: $fzH6;
        }

        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 48px;
        }
      }

      div {
        display: inline;
        padding-bottom: 8px;
        @media screen and (max-width: 768px) {
          display: inline-block;
          vertical-align: unset;
          width: auto;
          padding-bottom: 0px;
        }

        .MuiInputBase-root {
          &::before {
            content: '';
            top: -7px;
          }
        }
      }
    }
  }

  .section-msg {
    p {
      font-size: $fzH5;
      font-weight: normal;
      line-height: 1.67;
      color: $tundora;

      @media (max-width: 767px) {
        font-size: $fzH6;
      }

    }

    .msg-dda {
      margin-top: 20px;
      max-width: 990px;

      &.msg-select {
        margin-top: 30px;
      }
    }
  }

  .content-item {
    margin-top: 30px;

    legend {
      line-height: 1.71;
    }

    .col-content {
      &.col-select {
        max-width: 305px;
        width: 100%;

        @media (max-width: 768px) {
          max-width: 100%;
        }
      }
    }

    .col-radio-long-one-month {
      legend {
        max-width: 345px;

        @media (max-width: 768px) {
          max-width: 100%;
        }
      }
    }

    .col-radio-long {
      legend {
        max-width: 295px;

        @media (max-width: 768px) {
          max-width: 100%;
        }
      }
    }

    .select-partial,
    .col-select-last {
      legend+div {
        max-width: 190px;

        @media (max-width: 768px) {
          max-width: 100%;
        }
      }
    }

    .col-select-op1 {
      legend+div {
        max-width: 297px;

        @media (max-width: 768px) {
          max-width: 100%;
        }
      }
    }
  }
}