@import "../../assets/style/variable.scss";

.form-submit {
  background-color: rgb(247, 248, 249);
  margin-top: 80px;
  padding: 20px;
  border-radius: 10px;
  gap: 20px;
}

.title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #484848;
  margin-bottom: 40px;
}

.home-wrapper {
  margin-top: 80px;
  overflow: hidden;

  &.landing-page-borrower {
    min-height: calc(100vh - 118px - 288px - 80px);
  }

  .padding-common {
    padding-left: 10px;
    padding-right: 10px;

    @media (max-width: 768px) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .mb-40 {
    @media (max-width: 768px) {
      margin-bottom: 30px;
    }
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 61px;

    @media (max-width: 1024px) {
      display: block;
    }

    .col-left {
      width: 200px;

      @media (max-width: 1024px) {
        width: 100%;
      }
    }

    .col-right {
      width: calc(100% - 200px);
      padding-left: 30px;

      @media (max-width: 1024px) {
        width: 100%;
        padding-left: 0px;
      }

      .title-checkbox {
        @media (max-width: 1024px) {
          padding-left: 0;
          margin-top: 40px;
        }

        @media (max-width: 767px) {
          font-size: $fzH6;
        }
      }

      .MuiFormGroup-root {
        flex-direction: column;
        flex-wrap: nowrap;
        & label {
          min-height: unset;
        }
        & .card-checkbox-content {
          &--title {
            font-size: 18px;
          }
          &--description {
            font-size: 15px;
          }
        }
      }

      .things-to-take-note {
        display: flex;
        gap: 9px;
      }
    }

    .item-card {
      @media (max-width: 1070px) {
        max-width: 50%;
        flex-basis: 50%;
      }

      @media (max-width: 1024px) {
        &:nth-child(odd) {
          padding-left: 0;
          padding-right: 10px;
        }

        &:nth-child(even) {
          padding-left: 10px;
          padding-right: 0;
        }
      }

      @media (max-width: 667px) {
        max-width: 100%;
        flex-basis: 100%;

        &:nth-child(odd) {
          padding-left: 0;
          padding-right: 0;
        }

        &:nth-child(even) {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }

  .home-things-to-take-note-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 61px;

    @media (max-width: 1024px) {
      display: block;
    }

    .col-left {
      @media (max-width: 1024px) {
        width: 100%;
      }
      width: 200px;
    }

    .col-right {
      @media (max-width: 1024px) {
        width: 100%;
        padding-left: 0px;
      }
      width: calc(100% - 200px);
      padding-left: 30px;
      .things-to-take-note {
        display: flex;
        gap: 9px;
        align-items: baseline;
      }
    }
  }
}
