@import "../../assets/style/variable.scss";

// focused color for input
.MuiFilledInput-underline,
.MuiInput-underline {
  &::after {
    border-bottom: 1px solid #005efd !important;
  }
  &.Mui-error::after {
    border-bottom: 1px solid #ed5347 !important;
  }
}

.container {
  & .rm-wrapper {
    & .section-wrapper {
      background-color: transparent;
      padding: 0px;
      margin-bottom: 56px;
      & .MuiGrid-container {
        row-gap: 40px;
        column-gap: 24px;
      }

      & .error-text {
        color: red;
      }

      & .MuiFormControl-root {
        & .MuiInputBase-root,
        .MuiFormLabel-root {
          color: #777e87;
          // padding: 0px 8px;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          &::before {
            border-color: #e2e7ec;
          }
          & input {
            background-color: #fafcfc;
          }
        }
        & .MuiInputBase-root {
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          color: #575d65;
          background-color: #fafcfc;
        }
        & .MuiInput-underline::before {
          border-color: #e2e7ec;
        }
        .MuiFormHelperText-root {
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
          color: #ed5347;
        }
      }

      .header-wrapper {
        margin-bottom: 40px;
        & .section-title {
          display: flex;

          & .title {
            margin-bottom: 16px;
            font-weight: 700;
            font-size: $fzH2;
            line-height: 32px;
            color: #363b40;
          }
          & .edit {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #005EFD;
            padding: 6px 0px 0px 16px;
            text-decoration: none;
          }
        }

        & .section-description {
          margin-bottom: 40px;
          font-weight: 400;
          font-size: $fzH5;
          line-height: 28px;
          color: #777e87;
        }
      }

      & .sub-section-description {
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        color: #777e87;
        margin-bottom: 16px;

        display: flex;
        align-items: center;
      }

      & .section-seperate {
        height: 1px;
        width: 100%;
        background: #e2e7ec;
        margin-top: 56px;
      }

      .company-type-select {
        & .MuiInputBase-formControl {
          height: 57px;
          background: #fafcfc;
        }
      }
    }
    & .section-title {
      margin-bottom: 16px;
      font-weight: 700;
      font-size: $fzH2;
      line-height: 32px;
      color: #363b40;
    }

    & .section-description {
      margin-bottom: 40px;
      font-weight: 400;
      font-size: $fzH5;
      line-height: 28px;
      color: #777e87;
    }
  }
  & .upload-first {
    padding: 30px;
    margin-bottom: 10px;
    border: 1px dashed #8E8F8E;
    border-radius: 4px;
    cursor: pointer;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    span {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #363B40;

      label {
        color: #005EFD;
      }
    }
  }

  & .upload-result {
    background-color: #F7F9FA;
    border-radius: 8px;
    width: 432px;
    height: 78px;
    display: flex;
    align-items: center;
    padding: 16px;
    position: relative;

    div {
      display: flex;
      flex-direction: column;
      margin-left: 16px;
      margin: 0px 16px;

      & .file-name {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: $tundora;
        margin-bottom: 3px;
      }

      & .file-size {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: $tundora;
      }
    }

    img:last-child {
      cursor: pointer;
      position: absolute;
      right: 31px;
    }
  }

  & .sub-title {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #777E87;
  }

  // Styled group radio component
  .group-radio {
    & .MuiTypography-root {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #575D65;
    }
    & .MuiFormGroup-row {
      margin-top: 10px;
      gap: 40px;
    }
  }


  .formatted-numberphone-input {
    background: #fafcfc;
    & .MuiInputBase-root {
      height: 34px;
      margin-top: 0;
    }

    .MuiInputLabel-root {
      padding-left: 8px;
    }

    & label {
      position: relative;
      top: 5px;
    }

    & .formatted-numberphone-select {
      padding-left: 8px;
      & .MuiSelect-icon {
        border-right: 1px solid #e2e7ec;
        width: 60px;
      }
      & .MuiSelect-root {
        padding-bottom: 5px;
        padding-right: 50px;
      }
    }

    input {
      padding-left: 10px;
    }
  }
}