@import '../../../assets/style/variable.scss';

.fees-rates {
  & .fees-rates-category {
    margin-bottom: 56px;

    div::before {
      background-color: #E30613
    }
    @media (max-width: 767px) {
      margin-bottom: 40px;
    }
  }

  & .fees-form {
    & .MuiGrid-container {
      column-gap: 0px !important;
      row-gap: 0px !important;
    }
  }
  & .second-table {
    margin-top: 50px;
  }

  & .MuiTable-root {
    & .MuiTableHead-root {
      & .MuiTableRow-root {
        th {
          font-weight: 700 !important;
          font-size: 16px !important;
          line-height: 24px !important;
          color: #484848 !important;
        }
      }
    }
    & .MuiTableBody-root {
      & .MuiTableRow-root {
        th {
          font-weight: 700 !important;
          font-size: 16px !important;
          line-height: 24px !important;
          color: #484848 !important;
        }
        td {
          padding: 10px !important;
        }
        input {
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          height: 32px;
          color: #575D65;
        }
      }
    }
  }
  
}

.button-wrapper {
  a {
    text-decoration: none;
    color: $dodgerBlue;
  }
}