@import "../../assets/style/variable.scss";

.list-checkbox-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  & .MuiFormControlLabel-root {
    gap: 10px;
    width: 100%;
    padding: 17px 20px 17px 20px;
    position: relative;
    box-shadow: 0px 0px 10px 0px #0000001a;
    box-sizing: "border-box";
    align-items: "flex-start";
    margin-left: 0;
    border-radius: 8px;
    align-items: flex-start;
    & .checkbox-content {
      & .title {
        font-family: "Open Sans";
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #575D65;
      }
      & .description {
        margin-top: 8px;
        font-family: "Open Sans";
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #575D65;
      }
    }
    & .MuiIconButton-root {
      padding: 0px;
    }
    & .MuiIconButton-label {
      color: #575d65;
    }
    &:has(.Mui-checked) {
      & .MuiIconButton-label {
        color: #FFFFFF;
      }
      background-color: $shuttleGray;
      & .title, .description {
        color: #FFFFFF;
      }
    }
  }
}
